<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Icons CSS -->
    <link rel="stylesheet" th:href="@{/css/feather.css}">
    <link rel="stylesheet" th:href="@{/css/app-light.css}" id="lightTheme">
    <link rel="stylesheet" th:href="@{/assets/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/boostrap.min.css}">

<!--    <link rel="stylesheet" th:href="@{/css/bootstrap-datetimepicker.min.css}">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-3JRrEUwaCkFUBLK1N8HehwQgu8e23jTH4np5NHOmQOobuC4ROQxFwFgBLTnhcnQRMs84muMh0PnnwXlPq5MGjg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class=" light body_custom put-custom">
<div class="wrapper">
    <div th:replace="~{layout/header.html :: top}"></div>
    <aside th:replace="~{layout/header.html :: left}"></aside>

    <main role="main" class="main-content main-custom" id="">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 add">
                    <div class="col-12">
                        <div class="card shadow">
                            <div class="card-body">
                                <form  action="/dashboard/user/${id}" method="POST"  modelAttribute="request" class="row"
                                      th:object="${request}">
                                    <div class="mb-3 col-3">
                                        <div class="image">
                                            <img th:src="@{/assets/avatars/face-1.jpg}">
                                        </div>
                                    </div>
                                    <div class="mb-3 col-9 row">
                                        <div class="mb-3 col-4">
                                            <label for="username" class="form-label">Tài khoản</label>
                                            <input th:field="*{username}"  class="form-control" id="username" aria-describedby="usernameHelp" name="username"/>
                                            <span class="form-message" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                                            <span class="form-message" th:if="${failed != null}" th:text="${failed}"></span>
                                        </div>
                                        <div class="mb-3 col-4">
                                            <label for="password" class="form-label">Mật khẩu</label>
                                            <input th:field="*{password}" type="password" class="form-control" id="password" name="password" value="********">
                                            <span class="form-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                                        </div>
                                        <div class="mb-3 col-4">
                                            <label for="confirmPassword" class="form-label">Nhập lại mật khẩu</label>
                                            <input th:field="*{confirmPassword}" type="password" class="form-control" id="confirmPassword" name="confirmPassword" value="********">
                                            <span class="form-message" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></span>
                                        </div>
                                        <div class="mb-3 col-4">
                                            <label for="fullname" class="form-label">Họ tên</label>
                                            <input th:field="*{fullname}" type="text" class="form-control" id="fullname" aria-describedby="usernameHelp" name="fullname">
                                            <span class="form-message" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}"></span>
                                        </div>
                                        <div class="mb-3 col-4">
                                            <label for="email" class="form-label">Email</label>
                                            <input th:field="*{email}" type="text" class="form-control" id="email" aria-describedby="usernameHelp" name="email">
                                            <span class="form-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                                        </div>
                                        <div class="mb-3 col-4">
                                            <label for="phone" class="form-label">Số điện thoại</label>
                                            <input type="text" class="form-control" id="phone" aria-describedby="usernameHelp" name="phone">
                                        </div>
                                        <div class="mb-3 col-4">
                                            <label for="datetimepicker">Ngày sinh</label>
                                            <div class="input-group date" id="datetimepicker" data-target-input="nearest">
                                                <input type="text" name="birth" class="form-control datetimepicker-input" data-target="#datetimepicker"/>
                                                <div class="input-group-append" data-target="#datetimepicker" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fe fe-calendar"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 col-4">
                                            <label for="" class="form-label">Giới tính</label>
                                            <select name="gender" class="form-control">
                                                <option selected value="">Chọn</option>
                                                <option value="MALE">Nam</option>
                                                <option value="FEMALE">Nữ</option>
                                            </select>
                                        </div>
                                        <div class="mb-3 col-4">
                                            <label for="" class="form-label">Avatar</label>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="customFile">
                                                <label class="custom-file-label" for="customFile">Chọn file</label>
                                            </div>
                                        </div>
                                        <div class="mb-3 col-12">
                                            <label for="address" class="form-label">Địa chỉ</label>
                                            <input type="text" class="form-control" id="address" aria-describedby="usernameHelp" name="address">
                                        </div>
                                        <div class="mb-3 col-8" style="width: 100%">
                                            <button type="submit" class="btn btn_custom">Cập nhật</button>
                                        </div>
                                        <div class="mb-3 col-2">
                                            <a href="/dashboard/user" class="a_custom">Quay lại</a>
                                        </div>

                                    </div>



                                </form>

                            </div>
                        </div>
                    </div>

                </div> <!-- .row -->
            </div> <!-- .container-fluid -->
        </div>
    </main> <!-- main -->

</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/moment.min.js}"></script>
<!--<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-k6/Bkb8Fxf/c1Tkyl39yJwcOZ1P4cRrJu77p83zJjN2Z55prbFHxPs9vN7q3l3+tSMGPDdoH51AEU8Vgo1cgAA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script th:src="@{/assets/js/timepickerConfig.js}">
</script>


</body>
</html>